html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
        title='Vista de Productos'
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")

    body
        div(class="container mt-3")
            block vista
