<div id="chatContainer" class="container-sm bg-light pt-5 mb-5">
      <form id="formChat">
    <h3 class="bg-light mb-3">Centro de mensajes</h3>
    <input id="inputMail" class="form-control" type="email" placeholder="Email: ejemplo@coderhouse.com" required/>
    <input id="inputText" class="form-control mt-2" type="text" placeholder="Escribe tu mensaje" required/>
    <button id="chatSend" class="btn btn-primary mt-5" type="submit">Enviar</button>
    <hr />
  </form>
  
  <div id="chatBox" class="chatBoxContainer"></div>
  <hr />

</div>